
h1 {
  font-size: 20px;
  /*color: green;*/
  color: #000;
}



/* 
- MODULOS
- BEM
- SMACSS

 */
/*
span{
    font-size: 20px;
    color: #037bc0;
}

h1 span{
    font-size: 20px;
    color: #037bc0;
}

h2 span{
    font-size: 20px;
    color: #037bc0;
}

a {
  text-transform: uppercase;
}

footer a {
  text-transform: lowercase;
}
nav a:nth-child(1){
  text-transform: uppercase;
  font-size: 40px;
}

Grado de especificidad : 0 
nav a {
  text-transform: uppercase;
}

Grado de especificidad : 1
EL RECOMENDADO 
.navegacion a {
  text-transform: lowercase;
}


 Grado de especificidad : 2 
#navegacion a {
text-transform: capitalize;
}

!important  NUNCA USAR


.navegacion {

}

.enlace{
  text-transform: uppercase;
  font-weight: bold;
  
}

.color{
  color:red;
}
*/

